<p id="notice"><%= notice %></p>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Description</th>
      <th scope="col">Unit price</th>
      <th scope="col">Quantity</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.description %></td>
        <td><%= product.unit_price %></td>
        <td><%= product.quantity %></td>
        <td><%= link_to 'Add to cart', order_items_path(id: product.id), method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= paginate @products, window: 1, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm"%>